body {
  background-color: lightblue;
  margin: 0;
  padding: 0;
}
#navbar {
  list-style-type: none;
  background-color: green;
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-align: left;
  position: fixed;
  top: 0;
  width: 100%;
}
#navbar input {
  float: right;
  padding: 8px;
  border: none;
  margin-top: 4px;
  margin-right: 16px;
  font-size: 13px;
}
ul {
  margin: 0;
  padding-left: 0;
}
li {
  float: left;
  list-style-type: none;
}

li a {
  display: block;
  color: white;
  text-align: left;
  padding: 10px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}
